In [1]:
print("jay sri ram")

jay sri ram

In [2]:
#Q1. Create one variable containing following type of data:
q=['a','s','r']
s=("girja","hellow")
p=["girija",29.6,q,s]
for i in p:
    print(type(i))

<class 'str'>
<class 'float'>
<class 'list'>
<class 'tuple'>

In [5]:
#Q2. Given are some following variables containing data:

 var2 = ‘[ DS , ML , Python]’
 type(var2)

IndentationError: unexpected indent (3129833423.py, line 3)

In [6]:
#Q3. Explain the use of the following operators using an example:
6/3

2.0

In [7]:
5%3

2

In [8]:
8**2

64

In [9]:
55//5

11

In [10]:
71//9

7

In [ ]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [14]:
a=[1,2,3]
b=("girija","rama")
p=["girija",34.55,'45',5+4j,'98',"88",77,12,a,b]
for i in p:
    print(i,type(i))

girija <class 'str'>
34.55 <class 'float'>
45 <class 'str'>
(5+4j) <class 'complex'>
98 <class 'str'>
88 <class 'str'>
77 <class 'int'>
12 <class 'int'>
[1, 2, 3] <class 'list'>
('girija', 'rama') <class 'tuple'>

In [ ]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [15]:
p=int(input("enter first no :"))
q=int(input("enter first no :"))
if((p%q)==0):
    print("the p is completly divisiable with q")
else:
    print("it is not completly divisiable")

enter first no : 56
enter first no : 8

the p is completly divisiable with q

In [ ]:
#Q6 Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [1]:
p=[1,2,3,4,5,6,7,8,9,12,33,66,36,90,56,45,44,66,67]
for i in p:
    if i%3==0:
        print(i)

3
6
9
12
33
66
36
90
45
66

In [ ]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [2]:
tuple1 = (0, 1, 2, 3) 
tuple1[0] = 4
print(tuple1)

TypeError: 'tuple' object does not support item assignment

In [3]:
my_list = [1, 2, 3]
my_list.append(4)
print(my_list) 

my_list.insert(1, 5)
print(my_list) 

my_list.remove(2)
print(my_list) 

popped_element = my_list.pop(0)
print(my_list)         
print(popped_element)

[1, 2, 3, 4]
[1, 5, 2, 3, 4]
[1, 5, 3, 4]
[5, 3, 4]
1